[Unit]
Description=OpenStack Image Service API
After=network.service mysql.service postgresql.service rabbitmq-server.service ntp.service

[Service]
User=glance
Group=glance
PIDFile=/var/run/glance-api.pid
ExecStart=/usr/bin/glance-api

[Install]
WantedBy=multi-user.target
