[Unit]
Description=OpenStack Image Service Registry
After=network.service mysql.service postgresql.service rabbitmq-server.service ntp.service

[Service]
User=glance
Group=glance
PIDFile=/var/run/glance-registry.pid
ExecStart=/usr/bin/glance-registry

[Install]
WantedBy=multi-user.target
