#!/bin/sh

set -e

. /usr/share/debconf/confmodule

API_CONF=/etc/glance/glance-api.conf
APIPASTE_CONF=/etc/glance/glance-api-paste.ini
GREG_CONF=/etc/glance/glance-registry.conf

parse_connstring () {
    local ADDR BEFORE_AT AFTER_AT SERVER_PORT CONN_STRING PKG_NAME

    CONN_STRING=$1
    PKG_NAME=$2

    PARSED_DB_TYPE=${CONN_STRING%%:*}
    
    # If we have an undefined SQL type, we go back to a more sane default (eg: SQLite)
    case "${PARSED_DB_TYPE}" in
	sqlite|mysql|pgsql)
	    ;;
	postgresql*)
	    PARSED_DB_TYPE=pgsql
	    ;;
	*)
	    CONN_STRING="sqlite:///var/lib/${PKG_NAME}/${PKG_NAME}db"
	    PARSED_DB_TYPE="sqlite"
    esac
    if [ "${DB_TYPE}" = "sqlite" ] ; then
	if [ "${CONN_STRING}" = "sqlite:///${PKG_NAME}.db" ] ; then
	    CONN_STRING="sqlite:///var/lib/${PKG_NAME}/${PKG_NAME}db"
	fi
	
	PARSED_DB_PATH=${CONN_STRING#sqlite://}
	if [ -z "${PARSED_DB_PATH}" ] ; then
	    PARSED_DB_PATH=/var/lib/${PKG_NAME}/${PKG_NAME}db
	fi
    else
	ADDR=${CONN_STRING#*sql://}
	BEFORE_AT=${ADDR%%@*}
	AFTER_AT=${ADDR#*@}
	SERVER_PORT=${AFTER_AT%%/*}
	
	PARSED_USER=${BEFORE_AT%%:*}
	PARSED_PASS=${BEFORE_AT#*:}
	PARSED_DB_NAME=${AFTER_AT#*/}
	PARSED_SERVER=${SERVER_PORT%%:*}
	case "${SERVER_PORT}" in
	    *:*)
		PARSED_PORT=${SERVER_PORT#*:}
		;;
	    *)
		PARSED_PORT=""
	esac
    fi
}    

if [ -r "${API_CONF}" ] ; then
	FLAVOR=`grep -E '^[#\t ]*flavor[ \t]*=[\.]*' ${API_CONF} | cut -d"=" -f2 | awk '{print $1}'`
	case "${FLAVOR}" in
	keystone|caching|keystone+caching|cachemanagement|keystone+cachemanagement)
		db_set glance/paste-flavor ${FLAVOR}
	;;
	*)
		db_set glance/paste-flavor caching
	;;
	esac
fi

db_input high glance/paste-flavor || true
db_go || true

db_get glance/paste-flavor
case "$RET" in
keystone*)
	db_input high glance/auth-host || true
	db_input high glance/admin-tenant-name || true
	db_input high glance/admin-user || true
	db_input high glance/admin-password || true
	db_go || true
;;
esac

db_input high glance/configure_db || true
db_go
db_get glance/configure_db
if [ "$RET" = "true" ] && [ -f /usr/share/dbconfig-common/dpkg/config ] ; then
	. /usr/share/dbconfig-common/dpkg/config
	if [ -e "${GREG_CONF}" ] ; then
		CON_INFO=`grep -E "^([ \t])*sql_connection([ \t])*=([ \t])*" ${GREG_CONF} | awk '{print $3}'`
	else
		CON_INFO=""
	fi

	parse_connstring "$CON_INFO" glance
	
	# dbc_dbtype=${PARSED_DB_TYPE}
	if [ "${PARSED_DB_TYPE}" = "sqlite" ] ; then
		dbc_basepath=`dirname "${PARSED_DB_PATH}"`
		dbc_dbname=`basename "${PARSED_DB_PATH}"`
		dbc_dbtypes="sqlite3, mysql, pgsql"
	else
		if [ -n "${PARSED_USER}" ] && [ -n "${PARSED_PASS}" ] && [ -n "${PARSED_SERVER}" ] && [ -n "${PARSED_DB_NAME}" ] ; then
			dbc_dbuser=${PARSED_USER}
			dbc_dbpass=${PARSED_PASS}
			dbc_dbserver=${PARSED_SERVER}
			dbc_dbport=${PARSED_PORT}
			dbc_dbname=${PARSED_DB_NAME}
		fi
		if [ "${PARSED_DB_TYPE}" = "mysql" ] ; then
			dbc_dbtypes="mysql, pgsql, sqlite3"
		else
			dbc_dbtypes="pgsql, mysql, sqlite3"
		fi
		db_authmethod_user="password"
	fi
	dbc_go glance $@
fi
