#!/bin/sh

set -e

. /usr/share/debconf/confmodule

API_CONF=/etc/glance/glance-api.conf
APIPASTE_CONF=/etc/glance/glance-api-paste.ini
GREG_CONF=/etc/glance/glance-registry.conf

if [ -r "${API_CONF}" ] ; then
	FLAVOR=`grep -E '^[#\t ]*flavor[ \t]*=[\.]*' ${API_CONF} | cut -d"=" -f2 | awk '{print $1}'`
	case "${FLAVOR}" in
	keystone|caching|keystone+caching|cachemanagement|keystone+cachemanagement)
		db_set glance/paste-flavor ${FLAVOR}
	;;
	*)
		db_set glance/paste-flavor caching
	;;
	esac
fi

db_input high glance/paste-flavor || true
db_go || true

db_get glance/paste-flavor
case "$RET" in
keystone*)
	db_input high glance/auth-host || true
	db_input high glance/admin-tenant-name || true
	db_input high glance/admin-user || true
	db_input high glance/admin-password || true
	db_go || true
;;
esac

db_input high glance/configure_db || true
db_go
db_get glance/configure_db
if [ "$RET" = "true" ] && [ -f /usr/share/dbconfig-common/dpkg/config ] ; then
	. /usr/share/dbconfig-common/dpkg/config
	# Parse sql_connection from our config file if it's there.
        if [ -r ${GREG_CONF} ] ; then
		DB_CON_INFO=`grep -E "^([ \t])*sql_connection([ \t])*=([ \t])*" ${GREG_CONF} | awk '{print $3}'`
		if [ -z "${DB_CON_INFO}" ] ; then
			DB_CON_INFO="sqlite:///var/lib/glance/glancedb"
		fi
	else
		DB_CON_INFO="sqlite:///var/lib/glance/glancedb"
	fi
	DB_TYPE=`echo ${DB_CON_INFO} | cut -d":" -f1`
	if [ "${DB_TYPE}" != "sqlite" ] && [ "${DB_TYPE}" != "mysql" ] && [ "${DB_TYPE}" != "pgsql" ] ; then
		DB_CON_INFO="sqlite:///var/lib/glance/glancedb"
		DB_TYPE="sqlite"
	fi
	if [ "${DB_TYPE}" = "sqlite" ] ; then
		if [ "${DB_CON_INFO}" = "sqlite:///glance.db" ] ; then
			DB_CON_INFO="sqlite:///var/lib/glance/glancedb"
		fi
		DB_PATH=`echo "${DB_CON_INFO}" | awk '{print substr($0,11)}'`
		if [ -z "${DB_PATH}" ] ; then
			DB_PATH=/var/lib/glance/glancedb
		fi
		dbc_basepath=`dirname "${DB_PATH}"`
		dbc_dbname=`basename "${DB_PATH}"`
		dbc_dbtypes="sqlite3, mysql, pgsql"
	else
		ADDR=`echo "${DB_CON_INFO}" | awk '{print substr($0,9)}'`
		BEFORE_AT=`echo "${ADDR}" | cut -d"@" -f1`
		AFTER_AT=`echo "${ADDR}" | cut -d"@" -f2`

		USER=`echo "${BEFORE_AT}" | cut -d":" -f2`
		USER=`echo "${USER}" | cut -d"/" -f3`
		PASS=`echo "${BEFORE_AT}" | cut -d":" -f3`
		SERVER_PORT=`echo "${AFTER_AT}" | cut -d"/" -f1`
		DB_NAME=`echo "${AFTER_AT}" | cut -d"/" -f2`

		SERVER=`echo "${SERVER_PORT}" | cut -d":" -f1`
		if echo "${SERVER_PORT}" | grep -Eq ":"  ; then
			PORT=`echo "${SERVER_PORT}" | cut -d":" -f2`
		else
			PORT=""
		fi

		if [ -n "${USER}" ] && [ -n "${PASS}" ] && [ -n "${SERVER}" ] && [ -n "${DB_NAME}" ] ; then
			dbc_dbuser=${USER}
			dbc_dbpass=${PASS}
			dbc_dbserver=${SERVER}
			dbc_dbport=${PORT}
			dbc_dbname=${DB_NAME}
		fi
		if [ "${DB_TYPE}" = "mysql" ] ; then
			dbc_dbtypes="mysql, pgsql, sqlite3"
		else
			dbc_dbtypes="pgsql, mysql, sqlite3"
		fi
		db_authmethod_user="password"
	fi
	dbc_go glance $@
fi
