#!/bin/sh

set -e

. /usr/share/debconf/confmodule

API_CONF=/etc/glance/glance-api.conf
APIPASTE_CONF=/etc/glance/glance-api-paste.ini
if [ -r "${API_CONF}" ] ; then
	FLAVOR=`grep -E '^[#\t ]*flavor[ \t]*=[\.]*' ${API_CONF} | cut -d"=" -f2 | awk '{print $1}'`
	case "${FLAVOR}" in
	keystone|caching|keystone+caching|cachemanagement|keystone+cachemanagement)
		db_set glance/paste-flavor ${FLAVOR}
	;;
	*)
		db_set glance/paste-flavor caching
	;;
	esac
fi

db_input high glance/paste-flavor || true
db_go || true

db_get glance/paste-flavor
case "$RET" in
keystone*)
	db_input high glance/auth-host || true
	db_input high glance/admin-tenant-name || true
	db_input high glance/admin-user || true
	db_input high glance/admin-password || true
	db_go || true
;;
esac
